
.ms-container {
    background: url("../img/switch.png") no-repeat scroll 50% 50% transparent;
    width: 100%;
}
.ms-container:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    min-height: 0;
    visibility: hidden;
}
.ms-container .ms-selectable, .ms-container .ms-selection {
    background: none repeat scroll 0 0 #fff;
    color: #555555;
    float: left;
    width: 42%;
}
.ms-container .ms-selection {
    float: right;
}
.ms-container .ms-list {
    background-color: #f4f4f4;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 200px;
    overflow-y: auto;
    padding: 0;
    position: relative;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.ms-container .ms-list.ms-focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.ms-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ms-container .ms-optgroup-container {
    width: 100%;
}
.ms-container .ms-optgroup-label {
    color: #999;
    cursor: pointer;
    margin: 0;
    padding: 5px 0 0 5px;
}
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    border-bottom: 1px solid #ddd;
    color: #555;
    font-size: 15px;
    padding: 8px 10px;
}
.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background-color: #08c;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}
.ms-container .ms-selectable li.disabled, .ms-container .ms-selection li.disabled {
    background-color: #eee;
    color: #aaa;
    cursor: text;
}
