
/*new styles*/


.profileEditBtn {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 16px;
}


.prf-box{
	position:relative;
}

.profile-information h3{
	color:#fac82e !important;
}


.panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {
    background-color:  #fac82e !important;
    color: #fff !important;
}


.profileAreas li{
	width:24%;
	display:inline-block;
}



/*new styles*/




ul#clock li{
    border: none;
}

#clock {
    position: relative;
    width: 185px;
    height: 185px;
    margin: -75px auto 0;
    background: url(../images/clockface.png) no-repeat;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 15px;
    height: 185px;
    top: 0px;
    left: 83px;
}

#sec {
    background: url(../images/sechand.png);
    z-index: 3;
    overflow: hidden;
}

#min {
    background: url(../images/minhand.png);
    z-index: 2;
}

#hour {
    background: url(../images/hourhand.png);
    z-index: 1;
}

