
.carousel3d-container .carousel3d_preloader{
	position:absolute;
	text-align:center;
}

.carousel3d-container .cloudcarousel{
	position:absolute;
}
	
.carousel3d-container a.cloudcarousel_link{
	xcursor:default;
}
	
.carousel3d-container img{ 
	border:none;
	border-radius:none !important;
	box-shadow:none !important;
}


.carousel3d-container .carousel_caption{
	position:absolute;
	text-align:center;
	z-index:100;
	
	top:320px !important;
	
	top:290px;
	width:860px;
	font-family: "Open Sans";
	font-size:32px; color:#444;
	font-weight:300;
}
	
.carousel3d-container .carousel_description{
	position:absolute;
	text-align:center;			
	font-family:sans-serif;
	font-size:14px;
	color:#000000;
	z-index:100;
	position:absolute;
	text-align:center;
}
	
.carousel3d-container .carousel_left_button, .carousel3d-container .carousel_left_button_over{
	cursor:pointer;
	z-index:103;
}
	
.carousel3d-container .carousel_left_button_over{
	z-index:104;
}
	
.carousel3d-container .carousel_right_button,.carousel_right_button_over{
	cursor:pointer;
	z-index:105;
}
	
.carousel3d-container .carousel_right_button_over{
	z-index:104;
}
	
.carousel3d-container .empty_gallery_text{
		font-family:sans-serif;
		font-size:14px;
		color:#000000;
		font-weight:bold;
}
