@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?bspmzw');
	src:url('../fonts/icomoon.eot?#iefixbspmzw') format('embedded-opentype'),
		url('../fonts/icomoon.woff?bspmzw') format('woff'),
		url('../fonts/icomoon.ttf?bspmzw') format('truetype'),
		url('../fonts/icomoon.svg?bspmzw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fare_matrix:before {
	content: "\e64a";
}
.icon-device_transmission_report:before {
	content: "\e643";
}
.icon-settlement_autorization:before {
	content: "\e644";
}
.icon-settlement_platform:before {
	content: "\e645";
}
.icon-transaction_settlement:before {
	content: "\e646";
}
.icon-validation_output_reports:before {
	content: "\e647";
}
.icon-validation_rule_configuration:before {
	content: "\e648";
}
.icon-validation_wizard:before {
	content: "\e649";
}
.icon-device_log_file:before {
	content: "\e642";
}
.icon-transaction_settling:before {
	content: "\e641";
}
.icon-device_monitoring:before {
	content: "\e640";
}
.icon-system_performance:before {
	content: "\e63f";
}
.icon-participant_claims:before {
	content: "\e633";
}
.icon-participant_records:before {
	content: "\e634";
}
.icon-participant_type:before {
	content: "\e635";
}
.icon-credit_card:before {
	content: "\e636";
}
.icon-bank_deposit:before {
	content: "\e637";
}
.icon-reports:before {
	content: "\e638";
}
.icon-topup_manager:before {
	content: "\e639";
}
.icon-transaction_validation:before {
	content: "\e63a";
}
.icon-money_manager:before {
	content: "\e63b";
}
.icon-clearing_parameters:before {
	content: "\e63c";
}
.icon-participant_manager:before {
	content: "\e63d";
}
.icon-clearing_settlement:before {
	content: "\e63e";
}
.icon-cap_loading:before {
	content: "\e631";
}
.icon-card_encoding:before {
	content: "\e632";
}
.icon-monitoring:before {
	content: "\e630";
}
.icon-allocate_device:before {
	content: "\e62d";
}
.icon-rf_personalization:before {
	content: "\e62e";
}
.icon-processed:before {
	content: "\e62f";
}
.icon-pending:before {
	content: "\e62b";
}
.icon-progress:before {
	content: "\e62c";
}
.icon-advanced_conf:before {
	content: "\e61a";
}
.icon-application_manager:before {
	content: "\e61b";
}
.icon-application_meta:before {
	content: "\e61c";
}
.icon-application_metadata:before {
	content: "\e61d";
}
.icon-application_parameter:before {
	content: "\e61e";
}
.icon-blacklist_file:before {
	content: "\e61f";
}
.icon-business_components:before {
	content: "\e620";
}
.icon-business_management:before {
	content: "\e621";
}
.icon-business_merge:before {
	content: "\e622";
}
.icon-business_model:before {
	content: "\e623";
}
.icon-business_platform:before {
	content: "\e624";
}
.icon-business_registration:before {
	content: "\e625";
}
.icon-device_initialization:before {
	content: "\e626";
}
.icon-initialization_file:before {
	content: "\e627";
}
.icon-parameter_manager:before {
	content: "\e628";
}
.icon-whitelist_file:before {
	content: "\e629";
}
.icon-advanced_conf2:before {
	content: "\e62a";
}
.icon-public:before {
	content: "\e619";
}
.icon-recharger:before {
	content: "\e617";
}
.icon-validator:before {
	content: "\e618";
}
.icon-rf_card:before {
	content: "\e614";
}
.icon-sam_issue:before {
	content: "\e615";
}
.icon-suppliers:before {
	content: "\e616";
}
.icon-inventory:before {
	content: "\e600";
}
.icon-issuing_request:before {
	content: "\e601";
}
.icon-procurement_platform:before {
	content: "\e602";
}
.icon-interface:before {
	content: "\e603";
}
.icon-lang_time:before {
	content: "\e604";
}
.icon-business:before {
	content: "\e605";
}
.icon-message:before {
	content: "\e606";
}
.icon-procurement:before {
	content: "\e607";
}
.icon-user:before {
	content: "\e608";
}
.icon-dashboard:before {
	content: "\e609";
}
.icon-task:before {
	content: "\e60a";
}
.icon-date_time:before {
	content: "\e60b";
}
.icon-lang_custom:before {
	content: "\e60c";
}
.icon-lang_region:before {
	content: "\e60d";
}
.icon-warning_message:before {
	content: "\e60e";
}
.icon-outgonig_mail:before {
	content: "\e60f";
}
.icon-system_mails:before {
	content: "\e610";
}
.icon-dashboard_conf:before {
	content: "\e611";
}
.icon-mail_conf:before {
	content: "\e612";
}
.icon-look_feel:before {
	content: "\e613";
}