@charset "UTF-8";
/* CSS Document */


/* main template */


.header{
	background-image: url("/public/images/background-top.jpg")!important;
}

.brand{

}
.icon-big{
	font-size: 56px;
	color: #000000;
}

.sidebar-toggle-box{
	border:1px solid #0576c4;
	background-color:#fff;
}

.sidebar-toggle-box .fa-bars{
	color:#fac82e;
}

.top-nav ul.top-menu > li > a{
	background-color:#0576c4;
	border:0px;
}

.top-nav .username{
	color:#fff;
}

.top-nav .nav .caret{
	border-bottom-color:#fff;
	border-top-color:#fff;
}

.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus{
	border:0px;
	background-color:#1885d0 !important;
}


ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus{
	font-weight: bold;
}

ul.sidebar-menu li a.active i{
	color:white;

}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i{
	color:white;
}


ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a{
	color:white;
}

#ascrail2000 div{
	background-color:#37c3ff !important;
}


.btn-primary {
    background-color: #fac82e;
    border-color: #fac82e;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	background-color: #f99e00;
    border-color: #f99e00;
    color: #ffffff;
}




.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
	
	background-color:#85d5f7;
}


.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
	background-color:#fac82e;
}


.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
	background-color:#fac82e;
}
	
	
	
	.form-signin h2.form-signin-heading{
		background-color:#01aa02;
		padding: 15px;
		border:0px;
	}


.form-signin a, .form-signin a:hover{
	color:#fac82e;
}

.form-signin .btn-login{
	background-color:#fac82e;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #fac82e !important;
    color: #fff;
}




ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a{
	color:#fac82e;
}



/* main template */


.wizard  .content{
	min-height:auto !important;
	height:360px;
}

.genderradio label {
    font-weight: bold !important;
    left: 14px;
    position: absolute;
    top: -20px;
}
.radioArea {
    padding-top: 40px;
}

