@charset "UTF-8";
/* CSS Document */


/* main template */



.ui-widget-header{
	background-color:#9cdbff;
	background-image:none !important;
	border:0px !important;
	color:#225573;
}

.ui-widget-content{
	background-color:#fff !important;
	background-image:none !important;
} 

.dropdown-menu.extended.logout > li > a:hover i {
    color: #06b5fd;
}

.pageHeading{
	width:100%;
	height:34px;
	background-color:#b4daf3;
	color:#273e61;
	line-height:34px;
	font-size:20px;
	font-weight:600px;
	margin:10px 0px;
	text-indent:15px;
}



.dashboardButtons:hover span{
	color:#fac82e;
}

.dashboardButtons span{
	font-size:56px;
	color:#06b5fd;
}



.btn-warning {
    background-color: #f3c022 !important;
    border-color: #f3c022 !important;
    color: #ffffff !important;
}

.form-control:focus, #focusedInput {
    border: 1px solid #fac82e !important;
    box-shadow: none;
}


.header{
	
background-color:#06b5fd;
}

.brand{

background-color:#fff;
}

.sidebar-toggle-box{
	border:1px solid #0576c4;
	background-color:#fff;
}

.sidebar-toggle-box .fa-bars{
	color:#fac82e;
}

.top-nav ul.top-menu > li > a{
	background-color:#0576c4;
	border:0px;
}

.top-nav .username{
	color:#fff;
}

.top-nav .nav .caret{
	border-bottom-color:#fff;
	border-top-color:#fff;
}

.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus{
	border:0px;
	background-color:#1885d0 !important;
}


ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus{
	color:#37c3ff;
}

ul.sidebar-menu li a.active i{
	color:#37c3ff;

}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i{
	color:#37c3ff;
}


ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a{
	color:#37c3ff;
}

#ascrail2000 div{
	background-color:#37c3ff !important;
}


.btn-primary {
    background-color: #fac82e;
    border-color: #fac82e;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	background-color: #f99e00;
    border-color: #f99e00;
    color: #ffffff;
}




.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
	
	background-color:#85d5f7;
}


.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
	background-color:#fac82e;
}


.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
	background-color:#fac82e;
}
	
	
	
	.form-signin h2.form-signin-heading{
		background-color:#06b5fd;
		padding: 15px;
		border:0px;
	}


.form-signin a, .form-signin a:hover{
	color:#fac82e;
}

.form-signin .btn-login{
	background-color:#fac82e;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #fac82e !important;
    color: #fff;
}




ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a{
	color:#fac82e;
}



/* main template */



.wizard  .content{
	min-height:auto !important;
	height:auto;
}




