@charset "UTF-8";
/* CSS Document */


/* main template */


 
.dropdown-menu.extended.logout > li > a:hover i {
    color: #c71200;
}

.pageHeading{
	width:100%;
	height:34px;
	background-color:#f5cdc9;
	color:#273e61;
	line-height:34px;
	font-size:20px;
	font-weight:600px;
	margin:10px 0px;
	text-indent:15px;
}


.dashboardButtons:hover span{
	color:#c71200;
}



.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
    background-color: #585858 !important;
    border: 0 none;
}

.dashboardButtons span{
	font-size:56px;
	color:#545454;
}

.btn-warning {
    background-color: #f3c022 !important;
    border-color: #f3c022 !important;
    color: #ffffff !important;
}

.form-control:focus, #focusedInput {
    border: 1px solid #c71200 !important;
    box-shadow: none;
}


.header{
	
background-color:#c71200;
}

.brand{

background-color:#fff;
}

.sidebar-toggle-box{
	border:1px solid #213538;
	background-color:#fff;
}

.sidebar-toggle-box .fa-bars{
	color:#213538;
}

.top-nav ul.top-menu > li > a{
	background-color:#213538;
	border:0px;
}

.top-nav .username{
	color:#fff;
}

.top-nav .nav .caret{
	border-bottom-color:#fff;
	border-top-color:#fff;
}



ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus{
	color:#fff;
}

ul.sidebar-menu li a.active i{
	color:#c71200;

}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i{
	color:#c71200;
}


ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a{
	color:#c71200;
}

#ascrail2000 div{
	background-color:#c71200 !important;
}


.btn-primary {
    background-color: #c71200;
    border-color: #c71200;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	background-color: #f99e00;
    border-color: #f99e00;
    color: #ffffff;
}




.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
	
	background-color:#85d5f7;
}


.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
	background-color:#c71200;
}


.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
	background-color:#c71200;
}
	
	
	
	.form-signin h2.form-signin-heading{
		background-color:#06b5fd;
		padding: 15px;
		border:0px;
	}


.form-signin a, .form-signin a:hover{
	color:#c71200;
}

.form-signin .btn-login{
	background-color:#c71200;
}

*::-moz-selection {
    background: none repeat scroll 0 0 #c71200 !important;
    color: #fff;
}




ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a{
	color:#c71200;
}



/* main template */



.wizard  .content{
	min-height:auto !important;
	height:360px;
}




