.blueWidgetHeader { background-color: #bee6f7 !important; }
.orangeWidgetHeader { background-color: #ffcc00 !important; }
.whiteidgetHeader { background-color: #f2f2f2 !important; }
.widgetSettingPopup { width: 200px; height: 180px; position: absolute; top: 20px; right: -190px; border-radius: 4px; background-color: rgba(255,255,255,0.90); -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25); -moz-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25); box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25); z-index: 9999; display: none; }
.rfIssueWidgetContent .alert { margin-bottom: 8px; padding: 10px 15px 20px; }
.rfIssueWidgetContent .alert-icon { border-radius: 100%; display: inline-block; height: 32px; width: 32px; }
.rfIssueWidgetContent .alert-icon i { color: #fff; display: block; font-size: 28px; height: 32px; line-height: 32px; text-align: center; width: 32px; }
.rfIssueWidgetContent{
	font-size:12px;
}
.rfIssueWidgetContent .col-md-2 a { color: #414147; }
.widgetSettingPopup ul { list-style-type: none; padding: 12px; }
.widgetSettingPopup ul li { display: block; border-bottom: 1px solid #ededed; padding: 3px 0px; }
.widgetSettingPopup ul li a:hover { color: rgba(251,188,0,1.00); }
.widgetSettingPopup ul li:last-child { border: 0px; }
.widgetSettingPopup ul li div { cursor: pointer; transition: all 0.2s; top: 0px; position: relative; }
.widgetSettingPopup ul li div:hover { top: 1px; }
#widgetSettingPopup { position: absolute; top: 5px; right: 5px; color: #a7a7a7; }



.rfIssueWidgetContent .col-xs-12{
	height:30px;
	line-height:14px;
}

.widgetSettingForm{
	padding:20px;
}


.portlet{
	position:relative;
}

.portlet-toggle{
	right:10px;
	color:#666;
}

.widgetSettingPanelOverlay{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background-color:rgba(0,0,0,0.4);
	z-index:1003;
}
	
.widgetSettingPanel{
	width:64%;
	height:auto;
	background-color:rgba(255,255,255,1.00);
	position:absolute;
	top:50%;
	margin-top:-220px;
	left:18%;
	display:none;
	z-index:1000;
	border:1px solid #ddd;
	padding-bottom:20px;
}

#closeWidgetPopup{
	position:absolute;
	top:5px;
	right:5px;
}
	
.widgetSettingPanel h1 {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 0 10px 10px 20px;
	position:relative;
	display:block;
}

#closeWidgetPanel{
	position:absolute;
	top:-5px;
	right:8px;
}
	


.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}
.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}
.portlet-toggle, .portlet-toggle-sample  {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -8px;
	color:#333;
}


.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

input.error,textarea.error
{
    background: rgb(251, 227, 228);
    /* border: 1px solid #fbc2c4; */
    color: #8a1f11;
}

label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}


.portlet-header {
	cursor:move;
}