
@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin-ext);


* {
    margin: 0;
    padding: 0;
	font-family: "Open Sans",sans-serif;
}
.p_home {
    background-image: url("http://cbox.cboxprojects.com/public/images/homepage.png") !important;
    background-position: center top !important;
    background-repeat: no-repeat;
    background-size: auto auto !important;
    overflow-x: hidden;
}

.homeSlider img {
    width: 750px;
}


.pageMainHeading {
    border-bottom: 1px solid #fcc31b;
    color: #013575 !important;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 50px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin: 0px !important;
  position: relative;
  top: 20px;
}


.buttons_area { height: 38px; position: absolute; right: 1px; top: 37px; width: 580px; }
.buttons_area li { display: inline-block; padding-bottom: 5px; }
.buttons_area li a { display: inline-block; font-family: "Open Sans", sans-serif; font-size: 18px; font-weight: 400; margin: 5px 11px; position: relative; text-decoration: none; top: 0; transition: all 0.4s ease 0s; color: #00438e; }
.buttons_area li a:hover { color: #2a8dd5; text-decoration: none; top: 4px; }
.buttons_area li { position: relative; }
.subMenu { display: none; left: 10px; list-style: outside none none; margin: 0; padding: 0; position: absolute; top: 36px; transition: all 0.4s; opacity: 0; }
.buttons_area li:hover ul { display: block; opacity: 1; }
.sign_in { height: 36px; left: -3px; position: absolute !important; top: 0 !important; width: 108px;  transition: all 0.4s;}
.register { background-color: #fac82e; height: 38px; left: 119px; position: absolute !important; top: 0 !important; width: 118px;  transition: all 0.4s;	 }
.subMenu a { display: block; font-size: 15px !important; margin: 0 !important; padding: 0; background-color: #fed553; color: #fff !important; height: 40px; line-height: 40px; margin: 1px 10px; padding: 0 10px; width: 120px; }
.sign_in_item { position: absolute; top: -24px; }
.register_item { position: absolute; top: -24px; }
.sign_in:hover { background-color: #fff9e8; top: 4px !important; }
.register:hover { top: 4px !important; }


.p_home .box {
    height: 2643px;
    margin: auto;
    position: relative;
    width: 960px;
}
.p_home .down_btn {
    background-image: url("http://cbox.cboxprojects.com/public/images/down_btn_bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 56px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
    top: 636px;
    transition: all 0.2s ease 0s;
    width: 56px;
}
.p_home .down_btn:hover {
    background-color: transparent;
    top: 640px;
}
.bottomText {
    height: 627px;
    position: relative;
    top: 10px;
    width: 100%;
}
.footerBlock {
    background-color: #f00;
    height: 560px;
    position: relative;
    top: 220px;
    width: 100%;
}
#footer {
    bottom: 0;
    height: 665px;
    position: relative;
    width: 100%;
}
#footerBottom {
    bottom: 0;
    height: 20px;
    position: absolute;
    width: 100%;
}
.bottomDownBtn {
    bottom: 30px;
    top: auto !important;
}
.bottomDownBtn:hover {
    background-color: transparent;
    bottom: 24px;
}
.p_home .logo {
    background-image: url("http://cbox.cboxprojects.com/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 110px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 310px;
}

.p_home .homeSlider {
    height: 595px;
    left: 20px;
    position: relative;	
    top: 10px;
    width: 960px;
}
.serpayLogo {
    height: 160px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 180px;
}
.downloadBtn {
    background-image: url("http://cbox.cboxprojects.com/public/images/downloadBtn.png");
    background-repeat: no-repeat;
    display: block;
    height: 57px;
    left: 12px;
    opacity: 1;
    position: absolute;
    top: 390px;
    transition: all 0.3s ease 0s;
    width: 399px;
}
.downloadBtn:hover {
    opacity: 0.8;
    top: 395px;
}
.footerFormArea {
    height: 300px;
    position: absolute;
    right: 0;
    top: 280px;
    width: 360px;
}
.subject {
    left: 52px;
    position: absolute;
    top: 2px;
}
.p_home .sliderImageArea {
    height: 460px;
    left: 0;
    position: absolute;
    top: 60px;
    width: 540px;
}
.p_home .sliderImageArea img {
    left: 0;
    position: absolute;
    top: 0;
}
.p_home .sliderBtnArea {
    height: 420px;
    position: absolute;
    right: 0;
    top: 60px;
    width: 471px;
}
.p_home .sliderBtnArea img {
    background-color: #fff;
    border-left: 4px solid #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.p_home .sliderBtnArea img:hover {
    background-color: #f2fbff;
    border-left: 4px solid #ffd83b;
}
.p_home .sliderBtnActive {
    background-color: #f2fbff !important;
    border-left: 4px solid #ffd83b !important;
}

.homeHeading {
    color: #004c87;
    font-size: 28px;
    left: 4px;
    position: absolute;
    top: 250px;
}

.top_btn {
    background-image: url("http://cbox.cboxprojects.com/public/images/top_btn_bg.png");
    background-repeat: no-repeat;
    bottom: 87px;
    display: block;
    height: 90px;
    left: 435px;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 90px;
}

.p_login {
    background-image: url("http://cbox.cboxprojects.com/public/images/login.png") !important;
    background-position: center top !important;
    background-repeat: no-repeat;
    background-size: auto auto !important;
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
}
.p_login .box {
    height: 1339px;
    margin: auto;
    position: relative;
    width: 960px;
}
.p_login .logo {
    background-image: url("http://cbox.cboxprojects.com/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 110px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 310px;
}
.p_login .tabArea {
    height: 620px;
    left: 9px;
    position: relative;
    top: 155px;
    width: 960px;
}
.p_login .tabBtn {
    background-color: #06b7fd;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 67px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
.p_login .tabBtn:hover {
    background-color: #1e8dd3;
}
.p_login .tabBtnActive {
    background-color: #1e8dd3;
}
.p_login .admin {
    height: 67px;
    width: 244px;
}
.p_login .enterprise {
    height: 67px;
    left: -3px;
    width: 212px;
}
.p_login .member {
    height: 67px;
    left: -6px;
    width: 188px;
}
.p_login .tabContent {
    height: 366px;
    position: absolute;
    top: 67px;
    width: 960px;
}
.p_login .adminTab {
    background-image: url("http://cbox.cboxprojects.com/public/images/admin.jpg");
    background-repeat: no-repeat;
}
.p_login .entTab {
    background-image: url("http://cbox.cboxprojects.com/public/images/enterprise.jpg");
    background-repeat: no-repeat;
}
.p_login .memberTab {
    background-image: url("http://cbox.cboxprojects.com/public/images/member.jpg");
    background-repeat: no-repeat;
}
.p_login .adminBtn {
	background-color:transparent;
    cursor: pointer;
    display: block;
    height: 54px;
    left: 381px;
    position: absolute;
    top: 252px;
    width: 187px;
	opacity:1;
	transition:all 0.3;
}


.p_login .adminBtn:hover {
   background-color:#ffe289;
   opacity:0.3;
}
.p_login .name {
    left: 59px;
    position: absolute;
    top: 35px;
}
.email {
    left: 59px;
    position: absolute;
    top: 110px;
}
.p_login .password {
    left: 59px;
    position: absolute;
    top: 187px;
}
.p_login .entTab input {
    background-color: #fff;
    border: 0 none;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 57px;
    line-height: 62px;
    padding: 0 10px;
    width: 301px;
}
.p_login .enBtn {
    cursor: pointer;
    display: block;
    height: 58px;
    left: 59px;
    position: absolute;
    top: 286px;
    width: 202px;
}

.top_btn:hover {
    bottom: 93px;
}
.p_login *:-moz-placeholder {
    color: #9bd1e8;
}
.p_login *::-moz-placeholder {
    color: #9bd1e8;
}
.topSlider {
    height: 700px;
    width: 960px;
}
.footerFormArea input {
    display: block;
}
.footerFormArea input[type="text"], .footerFormArea input[type="email"] {
    background-color: transparent;
    border: 0 none;
    color: #94a2b5;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    height: 42px;
    outline: medium none;
    text-indent: 10px;
    width: 294px;
}
#footer .subject {
    left: 52px !important;
    position: absolute !important;
    top: 2px !important;
}
#footer .email {
    left: 52px !important;
    position: absolute !important;
    top: 64px !important;
}
.sendBtn {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    height: 42px;
    position: absolute;
    right: 26px;
    top: 64px;
    transition: all 0.4s ease 0s;
    width: 63px;
}
.sendBtn:hover {
    background-color: rgba(255, 220, 61, 0.3);
}
.p_features {
    background-image: url("http://cbox.cboxprojects.com/public/images/features.png") !important;
    background-position: center top !important;
    background-repeat: no-repeat;
    background-size: auto auto !important;
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
}
.p_features .box {
    height: 3154px;
    margin: auto;
    position: relative;
    width: 960px;
}
.p_features .logo {
   background-image: url("http://cbox.cboxprojects.com/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 110px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 310px;
}


.p_features .footerFormArea {
    top: 286px !important;
}
.p_features .footerLinks {
    top: 258px !important;
}
.featuresArea {
    height: 2427px;
    position: relative;
    top: 155px;
    width: 100%;
}
.ch-grid {
    display: block;
    list-style: outside none none;
    padding: 0;
    position: relative;
    text-align: center;
    top: 20px;
    width: 100%;
}
.ch-grid::after, .ch-item::before {
    content: "";
    display: table;
}
.ch-grid::after {
    clear: both;
}
.ch-grid li {
    display: inline-block;
    float: left;
    height: 332px;
    margin: 50px 15px;
    width: 280px;
}
.ch-item {
    background-color: #f7fcff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90px auto;
    border: 4px solid #e0f6fb;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(6, 119, 195, 0.4) inset, 0 0 0 0 rgba(255, 255, 255, 0.6) inset, 0 0 0 rgba(0, 0, 0, 0.1);
    cursor: default;
    height: 150px;
    margin: auto;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
    width: 150px;
}
.ch-img-1 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/1.png");
}
.ch-img-2 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/2.png");
}
.ch-img-3 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/3.png");
}
.ch-img-4 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/4.png");
}
.ch-img-5 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/5.png");
}
.ch-img-6 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/6.png");
}
.ch-img-7 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/7.png");
}
.ch-img-8 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/8.png");
}
.ch-img-9 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/9.png");
}
.ch-img-10 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/10.png");
}
.ch-img-11 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/11.png");
}
.ch-img-12 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/12.png");
}
.ch-img-13 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/13.png");
}
.ch-img-14 {
    background-image: url("../images/features/14.png");
}
.ch-img-15 {
    background-image: url("http://cbox.cboxprojects.com/public/images/features/15.png");
}
.ch-info {
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    transform: scale(0);
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
}
.ch-info h3 {
    color: #fff;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 17px;
    height: 110px;
    letter-spacing: -0.03em;
    line-height: 20px;
    margin: 0 15px;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
}

.gridBox {
    left: 0;
    position: relative;
    top: 0;
    width: 280px;
}
.ch-info p {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    font-size: 12px;
    font-style: italic;
    margin: 0 30px;
    padding: 10px 5px;
}
.ch-info p a {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 4px;
    text-transform: uppercase;
}
.ch-info p a:hover {
    color: rgba(255, 242, 34, 0.8);
}
.ch-item:hover {
    box-shadow: 0 0 0 110px rgba(6, 119, 195, 0.4) inset, 0 0 0 16px rgba(255, 255, 255, 0.8) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
}
.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);
}
.gridBox h3 {
    color: #0677c3;
    font-size: 22px;
    font-weight: 500;
    height: 64px;
    letter-spacing: -0.02em;
    margin-top: 9px;
    padding: 10px 10px 0 !important;
}
.gridBox p {
    font-size: 13px;
    position: relative;
    text-align: center;
    top: 20px;
    width: 280px !important;
}
.gridBox li {
    color: #999;
    font-size: 13px;
    height: auto;
    padding: 4px 0;
    width: 280px !important;
}
.pricingBtn {
    background-color: #fed553;
    color: #fff;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    top: 30px;
    transition: all 0.3s ease 0s;
}
.pricingBtn:hover {
    color: #fff;
    text-decoration: none;
    top: 34px;
}
.p_contact {
    background-image: url("http://cbox.cboxprojects.com/public/images/contact.png") !important;
    background-position: center top !important;
    background-repeat: no-repeat;
    background-size: auto auto !important;
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
}
.p_contact .box {
    height: 2027px;
    margin: auto;
    position: relative;
    width: 960px;
}
.p_contact .logo {
   background-image: url("http://cbox.cboxprojects.com/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 110px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 310px;
}
.contactArea {
    height: 1302px;
    position: relative;
    top: 155px;
}



.contactLeft {
    height: auto;
    left: 0;
    position: absolute;
    top: 404px;
    width: 500px;
}
.contactRight{
	width:460px;
	height:auto;
	position:absolute;
	top:404px;
	right:0px;
}

.contactArea h2 {
    font-size: 27px !important;
    font-weight: 500 !important;
}

.contactArea h3 {
    color: #fac82e;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    top: 37px;
}

.contactInfoBox {
    min-height: 200px;
}

.contactArea h4 {
    color: #3270b7;
    font-size: 16px;
    position: relative;
    top: 50px;
}


.contactArea p {
    font-size: 14px;
    position: relative;
    text-align: left;
    top: 56px;
    width: 440px !important;
}

h2 {
    color: #0db0fb;
    font-size: 24px;
    line-height: 52px;
    margin: 0;
    padding: 0;
}
.contactForm {
    height: 520px;
    position: absolute;
    right: 12px;
    top: 123px;
    width: 357px;
}

.code {
    bottom: 83px;
    position: absolute;
    right: 58px;
}

.codeBtn {
	background-image:url(http://cbox.cboxprojects.com/public/images/code_refresh.png) !important;
	background-repeat:no-repeat;
    background-color: #f00;
    bottom: 88px;
    display: block;
    height: 50px;
    position: absolute;
    right: 0;
    width: 30px;
	transition:all 0.3s;
}


.codeBtn:hover{
	bottom:84px;
	opacity:0.85;
} 
.contactForm input[type="text"], .contactForm textarea {
    background-color: transparent;
    border: 0 none;
    display: block;
}
.contactForm input[type="text"] {
    color: #034987;
    font-size: 18px;
    height: 49px;
    margin-bottom: 22px;
    padding: 0 10px;
    position: relative;
    width: 336px;
	outline:none;
}
.contactForm textarea {
    color: #034987;
    font-size: 18px;
    height: 148px;
    margin-bottom: 22px;
    padding: 0 10px;
    position: relative;
    resize: none;
    width: 336px;
	outline:none;
}
.contactForm input[type="submit"], .contactForm input[type="reset"] {
    background-color: transparent;
    border: 0 none;
    font-size: 18px;
    height: 49px;
    margin-right: 3px;
    margin-top: 10px;
    padding: 0 1px;
    position: relative;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 104px;
}
.contactForm input[type="submit"]:hover {
    background-color: rgba(255, 217, 99, 0.6);
}
.contactForm input[type="reset"]:hover {
    background-color: rgba(215, 238, 248, 0.6);
}
.footerLinks {
    height: auto;
    left: 366px;
    position: absolute;
    top: 250px;
    width: 280px;
}
.footerLinks a {
    color: #cde3f6;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
.footerLinks a:hover {
    color: #fff;
    left: 3px;
    text-decoration: none;
}

.footerLinks a:focus {
    color: #cde3f6 !important;
    text-decoration: none !important;
}
.homeDevices {
    height: 143px;
    left: 30px;
    position: absolute;
    top: 18px;
    width: 436px;
}
.homeDevices h3 {
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}
.homeDevices p {
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    font-weight: 500;
    height: auto;
    position: relative;
    top: 32px;
}


.homeDevices a {
    color: #0079ce;
    display: inline-block;
    font-size: 14px;
    position: relative;
    top: 33px;
    transition: all 0.3s ease 0s;
}


.homeDevices a:hover {
    color: #0b4b78;
    top: 37px;
}
.homeDevices a img {
    display: inline-block;
    width: 30px;
}
.easyAdmin {
    height: 143px;
    position: absolute;
    right: 40px;
    top: 364px;
    width: 430px;
}
.easyAdmin h3 {
    color: #0e4089;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.easyAdmin p {
    color: #515c62;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    top: 32px;
}
.tabContent h1 {
    color: #2a689e;
    font-size: 28px;
    font-weight: 500;
    left: 372px;
    position: relative;
    top: 67px;
}

.tabContent p {
    color: #304f6b;
    font-size: 18px;
    left: 370px;
    position: relative;
    top: 84px;
    width: 470px;
}




.p_register {
    background-image: url("http://cbox.cboxprojects.com/public/images/register.png") !important;
    background-position: center top !important;
    background-repeat: no-repeat;
    background-size: auto auto !important;
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
}
.p_register .box { width: 960px; height: 1615px; position: relative; margin: auto; }

.p_register .logo {    background-image: url("http://cbox.cboxprojects.com/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 110px;
    left: 0;
    position: absolute;
    top: 8px;
	width: 310px;

	}
