﻿
body {
    background-color: #32323a !important;
    background-image: none !important;
}


.panel {
    background-color: transparent !important;
}

.darkPanel label {
    color: #fff;
}

.darkPanel .radio-inline, .darkPanel .checkbox-inline {
    padding-left: 5px;
}


.table-striped tbody tr:nth-child(2n+1) td {
    height: auto !important;
}

.table-striped tbody tr td {
    background-color: transparent !important;
    padding: 10px 0;
}

.deviceStatus {
    border: 1px solid #ddd;
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

.ok {
    background-color: #9fc335;
}

.nok {
    background-color: #e04053;
}

.cri {
    background-color: #f7c527;
}

.adv-table .fa-map-marker {
    color: #fff;
    font-size: 18px;
}

.darkArea td, .darkArea th {
    color: #fff;
}

.darkArea input {
    background-color: transparent;
    border: 1px solid #ddd;
    /*color: #000 !important;*/
    color: white;
}

.darkArea .m-bot15 {
    background-color: transparent !important;
    border: 1px solid #ddd;
    color: #fff !important;
    margin-bottom: 15px;
}

.darkArea table.dataTable tbody tr {
    background-color: transparent;
}

.darkArea label {
    color: #fff;
}

.darkArea table th {
    background-color: #444 !important;
}

.darkArea .pagination > .disabled > span, .darkArea .pagination > .disabled > span:hover, .darkArea .pagination > .disabled > span:focus, .darkArea .pagination > .disabled > a, .darkArea .pagination > .disabled > a:hover, .darkArea .pagination > .disabled > a:focus {
    background-color: transparent !important;
}

.darkArea .pagination > li > a, .darkArea .pagination > li > span {
    background-color: transparent !important;
    color: #999;
}

.darkArea #example_info {
    color: #999;
}


.table-striped tbody tr td {
    background-color: transparent !important;
    padding: 5px 0;
}

.darkArea td, .darkArea th {
    color: #fff;
}


table.dataTable tbody tr {
    background-color: transparent;
    color: #fff;
}


.darkArea table th {
    background-color: #444 !important;
    color: #fff !important;
}


table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #111111;
    padding: 4px 8px !important;
}

table.dataTable thead th, table.dataTable thead td {
    font-size: 11px !important;
}

.amcharts-chart-div a {
    display: none !important;
}


.dataTables_wrapper {
    background-color: #282828;
    padding: 2px;
}


table.dataTable thead .sorting {
    background: none !important;
}



table.dataTable thead .sorting_asc {
    background: none !important;
}


table.dataTable thead .sorting_desc {
    background: none !important;
}

.adv-table .dataTables_filter label input {
    float: right;
    margin-right: 10px;
    width: 56%;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 10px 5px 0;
    padding-left: 0;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
}


.adv-table table tr td {
    font-size: 11px;
    letter-spacing: -0.03em;
    padding: 4px;
}



.editable-table .dataTables_filter {
    width: 56%;
}


.darkArea .btn, .darkArea h4, .darkArea label, .darkArea li {
    color: #fff !important;
    font-size: 12px;
}


.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    font-size: 12px;
    padding: 6px;
}

/*table hover*/

.rowEffect {
    background-color: #fff !important;
    color: #000 !important;
    transition: all 0.2s;
}


    .rowEffect td {
        color: #000 !important;
    }

/*table hover*/

.deviceInfoTable {
    background-color: #555562;
    border-radius: 10px;
    padding: 10px;
}

    .deviceInfoTable th {
        color: #f2cb30;
    }

.deviceInfoBox {
    float: left;
    height: auto;
    margin-top: 0px;
    width: 100%;
    background-color: #555562;
    border-radius: 10px;
    padding: 10px;
}

.deviceInfoBoxLeft {
    float: left;
    width: 46%;
    height: auto;
}

    .deviceInfoBoxLeft ul {
        display: block;
        margin: 20px 0px 0px 0px;
        padding: 0px;
    }

        .deviceInfoBoxLeft ul li {
            display: block;
            padding: 4px 0px;
        }

.deviceInfoBoxRight {
    float: left;
    width: 46%;
    height: auto;
}

    .deviceInfoBoxRight img {
        width: 160px;
        height: auto;
    }

    .deviceInfoBoxRight p {
        width: 160px;
        height: auto;
        text-align: center;
        color: #fff;
    }

.deviceInfoLogList {
    width: 100%;
    height: auto;
    overflow: hidden;
}

    .deviceInfoLogList .list-group-item {
        background-color: transparent;
        border-bottom: 1px solid #777 !important;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        display: block;
        margin-bottom: -1px;
        padding: 2px 6px;
        position: relative;
    }
/*end of device log file*/

/*SELMAN*/
#search-input {
    color: white !important;
    border:1px solid #fff !important;
}

.darkArea h4 {
    color: white !important;
}

.wrapper{
    background-color:#333 !important;
    background-image:none !important;
}
input[name=x_search]{
    border:1px solid #ccc !important;
    border-radius:5px !important;
    color:white !important;
}
.darkArea #search-input {
  background-color: #555562 !important;
  border: 1px solid #ddd;
  color: #fff !important;
  /* margin-bottom: 15px; */
  border-radius: 5px !important;
}
#search-form > div > div.col-xs-12.col-sm-8.col-md-6 > div > div > div:nth-child(1) > label{
    margin-top:30px;
}
#search-form > div > div.col-xs-12.col-sm-8.col-md-6 > div > div > div:nth-child(5) > label{
    margin-top:10px;
}
/* end of SELMAN*/
