﻿.ui-slider {
    float: left;
    margin: 15px 0 20px;
    width: 300px;
}

#shiftTypeTable input {
    width: auto !important;
}

#shiftTypeTable .checkbox {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 32px;
}

#sidebar {
    display: none;
}


#main-content {
    margin-left: 0px !important;
}



body {
    background-color: #32323a !important;
    background-image: none !important;
}

.panel {
    background-color: transparent !important;
}

.panel-body {
    padding: 5px;
}

.amcharts-chart-div {
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 592px;
    height: 203px;
}

    .amcharts-chart-div a {
        display: none !important;
    }

#cpuUsageChart2 text {
    color: #fff !important;
}


.monitoringArea .chartBox {
    background-color: #2b2b33;
    border-radius: 10px;
    height: 205px;
    margin-bottom: 20px;
    padding: 6px;
}

.rowBox {
    background-color: #2b2b33;
    border-radius: 10px;
    height: auto;
    margin-bottom: -2px;
    padding: 10px 19px 14px;
    position: relative;
}

    .rowBox h5 {
        font-family: Verdana;
        font-weight: bold;
        color: #fff;
        margin: 0;
        text-align: center;
        padding-bottom: 10px;
        font-size: 15px;
    }

    .rowBox.cloud-sync{
        height:200px;
    }
@media (min-width : 992px) {
    .rowBox.cloud-sync{
        height:100px;
    }
}
#deviceLocation {
    padding: 40px;
}

.monitoringLists ul {
    display: block;
    height: 165px;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    width: 100%;
}

.monitoringLists li {
    background-color: #222229;
    border-radius: 4px;
    color: #a0c35b;
    display: block;
    font-size: 12px;
    /*height: 19px;*/
    /*line-height: 19px;*/
    margin-bottom: 5px;
    padding: 0 8px;
    width: 98%;
}
.monitoringLists li label{
    width:150px;
    color:#f2cb30;
    font-size:14px;
    font-weight:lighter
}

    .monitoringLists li:before {
        content: "• ";
        font-size: 16px;
        color: white;
    }

.listAlert {
    color: #f46240 !important;
}


.option {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}

.monitoringRefresh {
    position: absolute;
    right: 10px;
    top: 3px;
}
.monitoringRefresh label{
    color:#fff !important;
}
#refresh-selector{
    padding-top: 3px;
    font-size: 12px;
    height: 26px;
}
.deviceInfoList {
    display: inline-block;
    min-height: 89px;
    height:auto;
    width: 100%;
}

    .deviceInfoList .col-md-3 div {
        border-bottom: 1px solid #111;
        color: #fff;
        font-size: 14px;
        height: 30px;
        line-height: 30px;
    }

.deviceInfoListHeaders {
    color: #fac82e !important;
    font-weight: 700;
    font-size:12px;
    white-space:nowrap;
}
.deviceInfoListValue{
    font-size:12px;
    white-space:nowrap;
}

.chartBox h5 {
    font-family: Verdana;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-align: center;
    padding-bottom: 10px;
    font-size: 15px;
}

.batteryUsage {
    width: 100%;
    height: 150px;
}

.batteryImageWrapper {
    width: 88%;
    height: 150px;
    position: absolute;
    z-index: 2;
}

.batteryImage {
    width: 120px;
    height: 150px;
    margin: auto;
}

    .batteryImage img {
        width: 120px;
        height: 150px;
    }

.batteryCountWrapper {
    width: 88%;
    height: 150px;
    position: absolute;
    z-index: 1;
}

    .batteryCountWrapper > div {
        height: 145px;
        margin: auto;
        width: 85px;
        position: relative;
    }

#batteryUsageColor {
    background-color: rgba(152, 197, 88, 0.5);
    bottom: 8px;
    left: 1%;
    position: absolute;
    width: 98%;
}

#batteryUsageText {
    bottom: 15px;
    left: 1%;
    height: 60px;
    position: absolute;
    width: 98%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
/*TABLE STYLE*/
.portlet-table {
    margin-bottom: 0px;
    color:white;
}

    .portlet-table > thead > tr > th,
    .portlet-table > tbody > tr > th,
    .portlet-table > tfoot > tr > th,
    .portlet-table > thead > tr > td,
    .portlet-table > tbody > tr > td,
    .portlet-table td, .portlet-table th {
        padding: 0;
        margin: 0;
        margin-left: 3px;
        vertical-align: bottom;
        border: 0;
        font: inherit;
        font-family: "Open Sans",sans-serif;
        font-size: 1.1em;
        white-space: nowrap;
        /*background-color:#d9edf7;*/
    }

    .portlet-table > thead > tr > th {
        font-family: "Open Sans",sans-serif;
        font-weight: 600;
        font-size: 10px;
        padding-right: 5px;
        color:#f2cb30
    }
    .portlet-table tr {
        border-bottom:1px solid white;
        background-color:#32323A
    }
    .portlet-table td label {
        font-family: "Open Sans",sans-serif;
        font-weight: 100;
    }

        .portlet-table tbody tr td label:empty:after {
            content: "-";
        }

    .portlet-table > tbody > tr > td > label {
        width: 100%;
        /*padding-top:10px;
            padding-bottom:10px;*/
        margin: 1px;
        min-height: 20px;
        line-height: 20px;
        font-size: 10px;
        white-space: nowrap;
    }

/* END OF TABLE STYLE*/
