﻿#device-table_length {
    display: none;
}

.editable-table .dataTables_filter {
    width: 100%;
    float: left;
}
.adv-table{
    margin-top:10px;
}

.adv-table .dataTables_filter label input {
    width: 40%;
}
.adv-table td,.adv-table th{
    font-size:12px !important;
    white-space:nowrap;
}
.table-striped tbody tr:nth-child(2n+1) td {
    height: auto !important;
}

.table-striped tbody tr td {
    /*padding: 10px 0px;*/
    padding: 10px 10px 0 0;
    background-color: transparent !important;
}


.deviceStatus {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.ok {
    background-color: #9FC335;
}

.nok {
    background-color: #E04053;
}

.cri {
    background-color: #F7C527;
}

.adv-table .fa-map-marker {
    font-size: 18px;
    color: #fff;
}



.darkArea {
    background-color: #28282e !important;
}

    .darkArea td, .darkArea th {
        color: #fff;
    }

    .darkArea input {
        background-color: transparent;
        border: 1px solid #ddd !important;
        color: white !important;
    }
    
    .darkArea .m-bot15 {
        background-color: #28282e !important;
        border: 1px solid #ddd;
        color: #fff !important;
        margin-bottom: 15px;
    }

    .darkArea table.dataTable tbody tr {
        background-color: transparent !important;
    }

    .darkArea label {
        color: #fff;
    }


    .darkArea table th {
        background-color: #444 !important;
    }

    .darkArea .pagination > .disabled > span, 
    .darkArea .pagination > .disabled > span:hover, 
    .darkArea .pagination > .disabled > span:focus, 
    .darkArea .pagination > .disabled > a, 
    .darkArea .pagination > .disabled > a:hover, 
    .darkArea .pagination > .disabled > a:focus {
        background-color: transparent !important;
    }


    .darkArea .pagination > li > a, 
    .darkArea .pagination > li > span {
        background-color: transparent !important;
        color: #999;
    }


    .darkArea #example_info {
        color: #999;
    }


#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 16px !important;
}


.amcharts-chart-div a {
    display: none !important;
}

.amChartsLegend {
    display: none !important;
}


.amcharts-chart-div svg {
    height: 350px !important;
}
