/*
    SELMAN
*/
.static_field_container {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0;
    position: relative;
    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

.static_field_label {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;
    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(to top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}
/*
    SELMAN
*/
.colorSelector {
    border: 1px solid #bee6f7;
    width: 16px;
    height: 16px;
    margin: 0px 2px;
    display: inline-block;
}

    .colorSelector.blue {
        background-color: #bee6f7 !important;
    }

    .colorSelector.orange, .portlet-header.orange {
        background-color: #ffcc00 !important;
    }

    .colorSelector.white, .portlet-header.white {
        background-color: #fff !important;
    }

.widgetSettingPopup {
    width: 200px;
    height: 180px;
    position: absolute;
    top: 30px;
    right: 0px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.90);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.25);
    z-index: 9999;
    display: none;
}

.rfIssueWidgetContent .alert {
    margin-bottom: 8px;
    padding: 10px 15px 20px;
}

.rfIssueWidgetContent .alert-icon {
    border-radius: 100%;
    display: inline-block;
    height: 32px;
    width: 32px;
}

    .rfIssueWidgetContent .alert-icon i {
        color: #fff;
        display: block;
        font-size: 28px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        width: 32px;
    }

.rfIssueWidgetContent {
    font-size: 12px;
}

    .rfIssueWidgetContent .col-md-2 a {
        color: #414147;
    }

.widgetSettingPopup ul {
    list-style-type: none;
    padding: 12px;
}

    .widgetSettingPopup ul li {
        display: block;
        border-bottom: 1px solid #ededed;
        padding: 3px 0px;
    }

        .widgetSettingPopup ul li a:hover {
            color: rgba(251,188,0,1.00);
        }

        .widgetSettingPopup ul li:last-child {
            border: 0px;
        }

        .widgetSettingPopup ul li div {
            cursor: pointer;
            transition: all 0.2s;
            top: 0px;
            position: relative;
        }

            .widgetSettingPopup ul li div:hover {
                top: 1px;
            }

#widgetSettingPopup {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #a7a7a7;
}



.rfIssueWidgetContent .col-xs-12 {
    height: 30px;
    line-height: 14px;
}

.widgetSettingForm {
    padding: 20px;
}


.portlet {
    position: relative;
}

.portlet-toggle {
    right: 10px;
    color: #666;
}

.widgetSettingPanelOverlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.4);
    z-index: 1003;
}

.widgetSettingPanel {
    width: 64%;
    height: auto;
    background-color: rgba(255,255,255,1.00);
    position: absolute;
    top: 50%;
    margin-top: -220px;
    left: 18%;
    z-index: 1000;
    border: 1px solid #ddd;
    padding-bottom: 20px;
}

.widgetMiniPopupClose {
    position: absolute;
    top: 5px;
    right: 5px;
}

.widgetSettingPanel h1 {
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    padding: 0 10px 10px 20px;
    position: relative;
    display: block;
}

h1 .closeWidgetSettingBtn {
    position: absolute;
    top: -5px;
    right: 8px;
}



.column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
}

.portlet {
    margin: 0 0 3px 0;
    padding: 3px;
    border: 3px dashed white;
}

.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle, .portlet-toggle-sample {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    color: #333;
}


.portlet-content {
    padding: 0.4em;
    min-height:100px;
    /*overflow-y:auto;*/
    overflow-x: auto;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

input.error, textarea.error {
    background: rgb(251, 227, 228);
    /* border: 1px solid #fbc2c4; */
    color: #8a1f11;
}

label {
    display: inline-block;
    margin-bottom: 0.5em;
}

    label.error {
        color: #8a1f11;
        display: inline-block;
        margin-left: 1.5em;
    }

/*
.portlet-header {
    cursor: move;
}
*/

/*SELMAN*/
.radioSelectWidget .radioGroup{
    font-size:12px;
    padding:0;
}
.radioSelectWidget label.radio-inline{
    padding-left:10px;
}
.editWidgetWrapper .portlet-body {
    display: none;
}

.editWidgetWrapper #main-portlet-panel .dragPortlet {
    min-height: 50px;
    border: 1px dotted black;
    /*margin-bottom:40px;*/
}
.dragPortlet{
    margin-bottom:20px;
}

.portlet-content .panel-body {
    padding: 3px;
}

.portlet-content .pagination {
    margin: 0;
}

    .portlet-content .pagination > li > a, .pagination > li > span {
        background-color: #EFF2F7;
        border: 1px solid #EFF2F7;
        float: left;
        line-height: 1.42857;
        margin-left: 1px;
        padding: 3px 6px;
        font-size: 12px;
        position: relative;
        text-decoration: none;
    }

.portlet .ui-widget-header span {
    font-size: 12px;
    font-weight: 600;
}
.user-heading.alt a.selected{
    color:white;
}

/*SELMAN*/
/* TABLE STYLE*/
.portlet-table {
    margin-bottom: 5px;
}

    .portlet-table > thead > tr > th,
    .portlet-table > tbody > tr > th,
    .portlet-table > tfoot > tr > th,
    .portlet-table > thead > tr > td,
    .portlet-table > tbody > tr > td,
    .portlet-table td, .portlet-table th {
        padding: 0;
        margin: 0;
        margin-left: 3px;
        vertical-align: bottom;
        border: 0;
        font: inherit;
        font-family: "Open Sans",sans-serif;
        font-size: 1.1em;
        white-space: nowrap;
    }

    .portlet-table > thead > tr > th {
        font-family: "Open Sans",sans-serif;
        font-weight: 600;
        font-size: 10px;
        padding-right: 5px;
    }

    .portlet-table td label {
        font-family: "Open Sans",sans-serif;
        font-weight: 100;
    }

        .portlet-table tbody tr td label:empty:after {
            content: "-";
        }

    .portlet-table > tbody > tr > td > label {
        width: 100%;
        /*padding-top:10px;
            padding-bottom:10px;*/
        margin: 1px;
        min-height: 20px;
        line-height: 20px;
        font-size: 10px;
        white-space: nowrap;
    }

/*.portlet-table tr td:first-child label{
            border-radius:10px 0 0 10px;
        }
        .portlet-table tr td:last-child label{
            border-radius:0 10px 10px 0;
        }*/
tr.alert-danger, tr.alert-info, tr.alert-success {
    color: black;
    background-color: white;
    border-color: white;
}

    tr.alert-danger td label {
        background-color: #f2dede;
    }

    tr.alert-info td label {
        background-color: #d9edf7;
    }

    tr.alert-success td label {
        background-color: #d6e9c6;
    }

.portlet-table .alert-icon {
    border-radius: 100%;
    display: inline-block;
    height: 14px;
    width: 14px;
    /*margin-top: 3px;*/
    margin-top: 2px;
    margin-left: 3px;
}

    .portlet-table .alert-icon i {
        color: #fff;
        display: block;
        font-size: 10px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        width: 14px;
    }


/* END OF TABLE STYLE*/


/*widget area*/


.appWidget h1 { color: #456e8b; font-size: 18px !important; font-weight: 600 !important; margin: 0; line-height:18px; border-bottom: 1px solid #ceedff; padding: 0px 0px 5px 0px; }
.appWidget .portlet-content ul { list-style-type: none; margin: 0px; padding: 0px; }
.appWidget .portlet-content li { width: 100%; height: 26px; line-height: 26px; font-weight: 600; margin-bottom: 6px; border: 0px !important; position: relative; }
.appWidget .portlet-content li:hover { background-color: transparent !important; background-image: url("../media/app_widget_list_active_bg.jpg") !important; background-repeat: repeat-y; }
/*.appWidget h2 { color: #07b5fe; display: block; font-size: 20px; font-weight: 600; height: 30px; position: absolute; right: 20px; text-align: right; top: 50%; width: 100%; }*/
.appWidget h2{color: #07b5fe !important; display: block !important; font-size: 20px; font-weight: 600; height: 30px; position: absolute; right: 18px; text-align: right !important; top: 50%; width: auto !important;}
.appWidget { padding: 0.3em !important; background-color: transparent !important; border: 0px !important; margin: 0 0 1em 0 !important; }
.appWidget .portlet-content { padding: 0px !important; }
.appWidget .appWidgetBand { display: block; background-image: url("../media/app_widget_list_active_bg.jpg"); background-repeat: repeat-y; width: 100%; height: 30px; position: absolute; top: 0px; left: 0px; z-index: 0; }
.appWidget .appWidgetListItem {
    background-image: url("../media/app_widget_list_bg.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    display: block;
    font-size: 13px;
    height: 30px;
    left: 0;
    padding-left: 24px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1;
}
.appWidget .appWidgetListItem:hover { background-color: transparent !important; }
.appWidget .profile-nav .portlet-content ul > li > a:hover, .appWidget .profile-nav ul > li > a:focus, .appWidget .profile-nav ul li.active a { background-color: transparent !important; }
.appWidget .panel-body { background-color: #fff; padding: 15px;  height: 250px;}
/*.releaseWidget { height: 200px !important; }*/
.releaseWidget .panel { height: 200px !important; background-image: url("../media/app_widget_release.jpg") !important; background-repeat: no-repeat !important; background-position: right bottom !important; background-size: 45% auto; }
.releaseWidget h4 { color: #065f99 !important; margin-bottom: 2px; font-size:15px; }
.releaseWidget p { color: #08b6ff !important; margin-bottom: 2px; font-size:14px; }
.releaseWidget h3 { color: #08b6ff !important; margin-top: 48px; }


/*widget area*/