
@charset "UTF-8";
.header {
    background-color: #06b5fd;
}
.brand {
    background-color: #fff;
}
.sidebar-toggle-box {
    background-color: #fff;
    border: 1px solid #0576c4;
}
.sidebar-toggle-box .fa-bars {
    color: #fac82e;
}
.top-nav ul.top-menu > li > a {
    background-color: #d6eefe !important;
    border: 0 none;
}
.top-nav .username {
    color: #fff;
}
.top-nav .nav .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}
.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
    border: 0 none;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
}
ul.sidebar-menu li a.active i {
    color: #37c3ff;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #37c3ff;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #37c3ff;
}
#ascrail2000 div {
    background-color: #37c3ff !important;
}
.btn-primary {
    background-color: #fac82e;
    border-color: #fac82e;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #f99e00;
    border-color: #f99e00;
    color: #ffffff;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background-color: #85d5f7;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background-color: #fac82e;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background-color: #fac82e;
}
.form-signin h2.form-signin-heading {
    background-color: #06b5fd;
    border: 0 none;
    padding: 15px;
}
.form-signin a, .form-signin a:hover {
    color: #fac82e;
}
.form-signin .btn-login {
    background-color: #fac82e;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #fac82e !important;
    color: #fff;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #fac82e;
}
.wizard .content {
    height: 360px;
    min-height: auto !important;
}
.genderradio label {
    font-weight: bold !important;
    left: 14px;
    position: absolute;
    top: -20px;
}
.radioArea {
    padding-top: 40px;
}
