
@charset "UTF-8";
.ui-widget-header {
    background-color: #9cdbff;
    background-image: none !important;
    border: 0 none !important;
    color: #225573;
}
.ui-widget-content {
    background-color: #fff !important;
    background-image: none !important;
}
.dropdown-menu.extended.logout > li > a:hover i {
    color: #06b5fd;
}
.pageHeading {
    background-color: #b4daf3;
    color: #273e61;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    text-indent: 15px;
    width: 100%;
}
.dashboardButtons:hover span {
    color: #fac82e;
}
.dashboardButtons span {
    color: #06b5fd;
    font-size: 56px;
}
.btn-warning {
    background-color: #f3c022 !important;
    border-color: #f3c022 !important;
    color: #ffffff !important;
}
.form-control:focus, #focusedInput {
    border: 1px solid #fac82e !important;
    box-shadow: none;
}
.header {
    background-color: #fff;
    background-image: url("../images/header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.brand {
    background-color: #fff;
}
.sidebar-toggle-box {
    background-color: #fff;
    border: 1px solid #0576c4;
}
.sidebar-toggle-box .fa-bars {
    color: #fac82e;
}
.top-nav ul.top-menu > li > a {
    background-color: #fff;
    border: 0 none;
}
.top-nav .username {
    color: #086db2;
}
.top-nav .nav .caret {
    border-bottom-color: #333;
    border-top-color: #333;
}
.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {
    border: 0 none;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    color: #fac82e;
}
ul.sidebar-menu li a.active i {
    color: #fac82e;
}
ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #37c3ff;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #37c3ff;
}
#ascrail2000 div {
    background-color: #37c3ff !important;
}
.btn-primary {
    background-color: #fac82e;
    border-color: #fac82e;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #f99e00;
    border-color: #f99e00;
    color: #ffffff;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background-color: #85d5f7;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background-color: #fac82e;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
    background-color: #fac82e;
}
.form-signin h2.form-signin-heading {
    background-color: #06b5fd;
    border: 0 none;
    padding: 15px;
}
.form-signin a, .form-signin a:hover {
    color: #fac82e;
}
.form-signin .btn-login {
    background-color: #fac82e;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #fac82e !important;
    color: #fff;
}
ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #fac82e;
}
.wizard .content {
    height: 360px;
    min-height: auto !important;
}
