@charset "UTF-8";
/* CSS Document */


* { margin: 0px; padding: 0px; }
.p_home { background-image: url("../images/homepage.jpg"); background-repeat: no-repeat; background-position: center top; overflow-x: hidden; }
.p_home .box { width: 1116px; height: 2557px; position: relative; margin: auto; }
.p_home .buttons_area { height: 38px; position: absolute; right: 1px; top: 37px; width: 250px; }
.p_home .buttons_area a { display: block; transition: all 0.2s; cursor: pointer; }
.p_home .buttons_area a img { width: 100%; height: auto; }
.p_home .sign_in { width: 113px; height: 38px; position: absolute; top: 0px; left: 0px; }
.p_home .sign_in:hover { background-color: #fff9e8; top: 1px; }
.p_home .register { width: 124px; height: 38px; position: absolute; top: 0px; right: 0px; background-color: #fac82e; }
.p_home .register:hover { top: 1px; }
.p_home .down_btn { width: 56px; height: 56px; display: block; position: absolute; top: 636px; left: 50%; margin-left: -28px; background-image: url(../images/down_btn_bg.png); background-repeat: no-repeat; background-position: center center; transition: all 0.2s; }
.p_home .down_btn:hover { top: 640px; }
.p_home .logo { height: 110px; left: 0; position: absolute; top: 0; width: 340px; }
.p_home .homeSlider { width: 1060px; height: 480px; position: absolute; top: 740px; left: 19px; }
.p_home .sliderImageArea { position: absolute; top: 60px; left: 0px; width: 520px; height: 460px; }
.p_home .sliderImageArea img { position: absolute; top: 0px; left: 0px; }
.p_home .sliderBtnArea { position: absolute; top: 60px; right: 0px; width: 491px; height: 420px; }
.p_home .sliderBtnArea img { cursor: pointer; background-color:#fff; transition: all 0.3s; border-left:4px solid #fff; }
.p_home .sliderBtnArea img:hover { background-color:#f2fbff; border-left:4px solid #ffd83b;}
.p_home .sliderBtnActive{  background-color:#f2fbff !important; border-left:4px solid #ffd83b !important;}


.p_home .top_btn { background-image: url(../images/top_btn_bg.png); background-repeat: no-repeat; display: block; height: 90px; left: 537px; position: absolute; bottom: 106px; width: 90px; transition: all 0.2s; }
.p_home .top_btn:hover { bottom: 115px; }


.p_login { background-image: url(../images/login.jpg); background-repeat: no-repeat; background-position: center top; overflow-x: hidden; font-family: 'Open Sans', sans-serif; }
.p_login .box { width: 1116px; height: 1544px; position: relative; margin: auto; }
.p_login .buttons_area { height: 38px; position: absolute; right: 1px; top: 19px; width: 250px; }
.p_login .buttons_area a { display: block; transition: all 0.2s; cursor: pointer; }
.p_login .buttons_area a img { width: 100%; height: auto; }
.p_login .sign_in { width: 113px; height: 38px; position: absolute; top: 0px; left: 0px; }
.p_login .sign_in:hover { background-color: #fff9e8; top: 1px; }
.p_login .register { width: 124px; height: 38px; position: absolute; top: 0px; right: 0px; background-color: #fac82e; }
.p_login .register:hover { top: 1px; }
.p_login .logo { width: 260px; height: 81px; position: absolute; top: 0px; left: 0px; }
.p_login .tabArea { height: 434px; left: 9px; position: absolute; top: 293px; width: 1100px; }
.p_login .tabBtn { color: #fff; cursor: pointer; display: inline-block; font-size: 20px; font-weight: 400; letter-spacing: -0.01em; line-height: 67px; position: relative; text-align: center; text-decoration: none; transition: all 0.2s ease 0s; }
.p_login .tabBtn:hover { background-color: #1e8dd3; }
.p_login .tabBtnActive { background-color: #1e8dd3; }
.p_login .admin { height: 67px; width: 244px; }
.p_login .enterprise { height: 67px; left: -3px; width: 212px; }
.p_login .member { height: 67px; left: -6px; width: 188px; }
.p_login .tabContent { height: 366px; position: absolute; top: 67px; width: 1099px; }
.p_login .adminTab { background-image: url(../images/admin.jpg); background-repeat: no-repeat; }
.p_login .entTab { background-image: url(../images/enterprise.jpg); background-repeat: no-repeat; }
.p_login .adminBtn { cursor: pointer; display: block; height: 58px; left: 372px; position: absolute; top: 206px; width: 203px; }
.p_login .name { left: 59px; position: absolute; top: 35px; }
.p_login .email { left: 59px; position: absolute; top: 110px; }
.p_login .password { left: 59px; position: absolute; top: 187px; }
.p_login .entTab input { background-color: #fff; border: 0 none; font-family: "Open Sans", sans-serif; font-size: 16px; font-weight: 400; height: 57px; line-height: 62px; padding: 0 10px; width: 301px; }
.p_login .enBtn { cursor: pointer; display: block; height: 58px; left: 59px; position: absolute; top: 286px; width: 202px; }
.p_login .top_btn { background-image: url(../images/top_btn_bg.png); background-repeat: no-repeat; display: block; height: 90px; left: 537px; position: absolute; bottom: 109px; width: 90px; transition: all 0.2s; }
.p_login .top_btn:hover { bottom: 115px; }
	


.p_login ::-webkit-input-placeholder {
color: #9bd1e8;
}
.p_login :-moz-placeholder { /* older Firefox*/
 color: #9bd1e8;
}
.p_login ::-moz-placeholder { /* Firefox 19+ */
 color: #9bd1e8;
}
.p_login :-ms-input-placeholder {
 color: #9bd1e8;
}