@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-hljxie');
	src:url('../fonts/icomoon.eot?#iefix-hljxie') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-hljxie') format('woff'),
		url('../fonts/icomoon.ttf?-hljxie') format('truetype'),
		url('../fonts/icomoon.svg?-hljxie#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-work:before {
	content: "\e605";
}

.icon-profile:before {
	content: "\e606";
}

.icon-facebook:before {
	content: "\e607";
}

.icon-right_arrow:before {
	content: "\e600";
}

.icon-password:before {
	content: "\e601";
}

.icon-edit:before {
	content: "\e602";
}

.icon-login:before {
	content: "\e603";
}

.icon-logout:before {
	content: "\e604";
}

