 @charset "UTF-8";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext";
* { margin: 0; padding: 0; }
ul, ol { list-style-type: none; }
html { width: 100%; height: 100%; }
html, body { }
a, a:hover { text-decoration: none; }
body { background-image: url("../images/bg.jpg"); background-repeat: repeat-x; background-size: 100% auto; font-family: "Open Sans", sans-serif; }
.bg_wrapper { background-image: url("../images/serpay_bg.png"); background-position: left bottom; background-repeat: no-repeat; height: 100%; position: fixed; width: 100%; z-index: 0; }
.mainContainer { background-color: #fff; box-shadow: 0 0 10px rgba(141, 164, 174, 0.2); margin: 50px auto auto; min-height: 560px; position: relative; width: 920px; }
.header { background-image: url("../images/HeaderBackground.png"); background-repeat: no_repeat; background-size: 100% auto; height: 98px; position: relative; width: 920px; }
.logoLink { display: block; height: 98px; width: 289px; }
.logoLink img { border: 0 none; }
.login { height: 30px; margin: 0 5px; padding: 0 10px; position: absolute; right: 0; text-align: right; top: 30px; transition: all 0.4s ease 0s; width: auto; }
.login:hover { color: #f8cc43 !important; top: 35px; }
.login:hover p { color: #f8cc43 !important; }
.login p { color: #01578e; display: inline-block; font-size: 14px; font-weight: 600; height: 30px; letter-spacing: -0.03em; line-height: 30px; }
.login i { color: #f8cc43; display: inline-block; font-size: 26px; vertical-align: text-top; }
.content { float: left; height: auto; padding: 15px; width: 920px; background-color: #fff; }
.leftContent { background-image: url("../images/profileAreaBg.jpg"); background-position: right top; background-repeat: repeat-y; float: left; height: 450px; width: 270px; }
.rightContent { float: right; height: auto; width: 590px; }
.rightContent p { font-size: 13px; }
.profileArea { height: auto; min-height: 300px; position: relative; width: 270px; }
.lastLoginArea { font-size: 11px; margin: 380px 10px 10px 0px; }
.welcomeMessage { background-image: url("../images/profileAreaHeadingBg.png"); background-position: left top; background-repeat: repeat-y; color: #fff; font-size: 20px; font-weight: 500; height: 32px; letter-spacing: -0.03em; line-height: 32px; margin-bottom: 30px; text-indent: 10px; width: 100%; }
.profileImage { border-radius: 100%; height: 80px; overflow: hidden; position: relative; width: 80px; z-index: 1; }
.profileImage img {
    height: 70px;
    left: 50%;
    margin-left: -40px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
}.profileNameWrapper { background-color: #dff6ff; height: 32px; left: 0; position: absolute; top: 24px; width: 100%; z-index: 0; }
.profileName { color: #013f6a; font-size: 18px; font-weight: 500; letter-spacing: -0.03em; line-height: 30px; text-indent: 90px; }
.description { color: #324756; font-size: 13px; height: auto; left: 90px; letter-spacing: -0.03em; position: relative; top: -20px; width: 175px; }
.profileList { display: block; left: 20px; position: relative; top: 40px; width: 170px; }
.profileList li {
    border-bottom: 1px solid #cddbe7;
    display: block;
    height: auto;
    line-height: 39px;
    width: 100%;
}

.profileList li a {
    background-color: transparent;
    display: block;
    height: auto;
    padding: 3px 0;
    transition: all 0.4s ease 0s;
    width: 100%;
}

.profileList li a:hover { background-color: #dff6ff; padding-left: 5px; }
.profileList i {
    color: #f1c12c;
    display: inline-block;
    font-size: 19px;
    height: 30px;
    line-height: 30px;
    padding-right: 5px;
    position: relative;
    top: 2px;
}
.profileList p {
    color: #035792;
    display: inline-block;
    font-size: 14px;
    letter-spacing: -0.03em;
    line-height: 20px;
    padding-left: 10px;
    width: 130px;
}

.profileList li:last-child {
    line-height: 16px;
}

.profileList li:last-child i {
    top: -8px;
}

.rightContent h1 { background-image: url("../images/rightContentHeadingBg.png"); background-position: left center; background-repeat: repeat-y; color: #013f6a; font-size: 22px; font-weight: 500; height: 32px; letter-spacing: -0.03em; line-height: 32px; margin: 0 0 10px; text-indent: 10px; }
.rightContent h2 { border-bottom: 1px solid #ffdc64; color: #f5b00c; font-size: 16px; font-weight: 600; height: 28px; letter-spacing: -0.03em; line-height: 28px; }
.rightContent h3 { border-bottom: 1px solid #ddeef5; color: #058fc9; font-size: 14px; height: 22px; margin: 20px 0px 10px 20px; clear: both; }
.rightContent h4 { font-size: 14px; font-weight: 600; padding-top: 6px; margin: 0px; }
.contentBox { background-color: #ffe698; border-radius: 6px; display: inline-block; height: 150px; margin-right: 10px; margin-top: 20px; text-align: center; width: 170px; }
.contentBox img { height: 150px; width: 170px; }
.contentBox h2 { color: #06244d; font-size: 20px; font-weight: 500; height: 40px; letter-spacing: -0.03em; line-height: 30px; }
.contentBox p { color: #06244d; font-size: 14px; font-weight: 500; height: 40px; letter-spacing: -0.03em; line-height: 20px; margin-top: 6px; text-align: left; }
.contentMenuArea { height: auto; margin-top: 30px; position: relative; width: 100%; }
.contentMenuArea ul { display: block; }
.contentIcon h2 { border: 0px; }
.contentMenuArea ul li { border-bottom: 1px solid #e5eef6; display: block; height: 36px; width: 100%; }
.contentMenuArea ul li a { background-color: transparent; color: #013f6a; display: block; transition: all 0.4s ease 0s; }
.contentMenuArea ul li a:hover { background-color: #dff6ff; padding-left: 3px; }
.contentMenuArea ul li img { display: inline-block; height: 36px; width: auto; }
.contentMenuArea ul li p { display: inline-block; height: 36px; line-height: 36px; vertical-align: top; width: auto; }
.contentMenuArea ul li i { color: #f8cc43; display: inline-block; height: 36px; line-height: 36px; vertical-align: top; width: auto; }
.footer { background-color: #ddf6ff; border-top: 1px solid #d4dde1; clear: both; height: 30px; margin-top: 1px; position: relative; width: 100%; }
.copyright { color: #06244d; font-size: 9px; height: 30px; letter-spacing: -0.03em; line-height: 30px; padding-left: 10px; width: auto; }
.rights { color: #207ecd; padding-left: 8px; }
.footerLogo { background-image: url("../images/CBOXPROJECTSCOM.png"); background-position: right center; background-repeat: no-repeat; height: 28px; position: absolute; right: 0; top: 0; width: 200px; margin-right: 10px;}
/*subpage codes */
.subProfileContent { height: 100px; position: relative; width: 890px; }
.activeMenu { color: #f6b900 !important; font-weight: 600; }
.activeMenu:hover { background-color: transparent !important; }
.activeMenu p { color: #f6b900 !important; }
.subProfileArea { height: auto; position: absolute; right: 0; top: 0; width: 270px; }
.subProfileList { display: block; left: 0; position: relative; top: 0; width: 260px; }
.subProfileList li { border-bottom: 1px solid #cddbe7; height: 40px; line-height: 40px; width: 100%; }
.subProfileList li a { background-color: transparent; display: block; height: 40px; padding-left: 0; transition: all 0.4s ease 0s; width: 100%; }
.subProfileList li a:hover { padding-left: 5px; }
.subProfileList i { color: #f1c12c; display: inline-block; padding-right: 5px; }
.subProfileList p { color: #035792; display: inline-block; font-size: 16px; letter-spacing: -0.03em; }
.partRow { border-bottom: 1px solid #f1f1f1; clear: left; height: 38px; line-height: 38px; position: relative; font-size: 14px;}
.partRow h2 { border-bottom: 1px solid #ffdc64; color: #f5b00c; font-size: 16px; font-weight: 600; height: 28px; letter-spacing: -0.03em; line-height: 28px; margin: 27px 0 10px; }
.partWideRow { border-bottom: 1px solid #f1f1f1; clear: left; height: 45px; line-height: 45px; position: relative; }
.partWideRow h2 { border-bottom: 1px solid #ffdc64; color: #f5b00c; font-size: 16px; font-weight: 600; height: 28px; letter-spacing: -0.03em; line-height: 28px; margin: 27px 0 10px; }
.rowEdit { position: absolute; top: 2px; right: 2px; color: #f1c12c; }
.contentSection { margin-bottom: 15px; position: relative; }
.contentArea { height: 600px; position: relative; width: 580px; overflow: hidden; }
.companyLogo { display: inline-block; height: 42px; margin-top: 12px; width: 42px; }
.companyLogo img { width: 42px; height: 42px; }
.contentSection .radio { display: inline-block; margin: 10px 30px 10px 20px; position: relative; line-height: normal; }
.contentSection .form-control { margin-top: 3px; height: 32px; box-shadow: none; border-radius: 0px; }
.contentSection textarea { height: 32px !important; resize: none; }
.partWideRow .form-control { margin-top: 6px; }
.contentSection .btn { background-color: #f9cc43; border: 0 none; color: #fff; float: right; font-size: 14px; height: 24px; letter-spacing: -0.03em; line-height: 24px; padding: 0 20px; position: relative; top: 0; transition: all 0.4s ease 0s; width: auto; float: right; margin-top: 8px; }
/*subpage codes */

.saveArea { height: 30px; }
.partWideRow p { line-height: 20px; margin: 0; }
/*signup pages codes */


#bg { position: fixed; top: 0; left: 0; z-index: -1; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }
.signupContainer { width: 960px; height: 480px; position: absolute; top: 40%; margin-top: -220px; left: 55%; margin-left: -500px; }
.signupWrapper { width: 580px; min-height: 200px; height: auto; float: right; }
.signupWrapper h1 { font-size: 32px; color: #0a4d7c; margin: 10px 10px 10px 0px; }
.signupWrapper h2 { font-size: 18px; color: #058fc9; line-height: 20px; margin: 10px 10px 30px 0px; width: 400px; }
.signupWrapper h3 { font-size: 18px; color: #0a4d7c; line-height: 20px; margin: 30px 10px 30px 0px; width: 400px; }
.signupWrapper .formWrapper { width: 580px; height: auto; background-color: rgba(118,139,133,0.20); padding-left: 20px; float: left; }
.signupWrapper .signupFormArea { width: 320px; height: auto; float: left; margin-bottom: 20px; }
.signupWrapper .loginFormArea { width: 320px; height: auto; float: left; margin-bottom: 20px; }
.signupWrapper .socialLoginArea { width: 280px; height: auto; float: right; }
.signupWrapper .signupText { background-color: #fff; color: #0a4d7c; font-size: 16px; letter-spacing: -0.03em; height: 42px; line-height: 42px; padding: 0px 5px; margin-bottom: 8px; border: 0px; width: 320px; }
.signupWrapper .signupBtn { background-color: #f9cc43; color: #fff; font-size: 24px; letter-spacing: -0.03em; height: 42px; line-height: 42px; padding: 0px 20px; border: 0px; width: auto; float: right; position: relative; top: 0px; transition: all 0.4s; }
.signupWrapper .signupBtn:hover { top: 5px; }
.signupWrapper .facebookBtn { background-color: #578ee8; background-image: url("../images/facebookBtnBg.jpg"); background-repeat: no-repeat; background-size: auto 50px; color: #fff; display: inline-block; font-size: 15px; font-weight: 600; height: 42px; letter-spacing: -0.03em; line-height: 42px; padding: 0 22px 0 64px; width: auto; text-decoration: none; position: relative; top: 0px; transition: all 0.4s; }
.signupWrapper .facebookBtn:hover { top: 5px; }
.dateSelect input { border: 1px solid #ccc; height: 32px !important; width: 100%; }
.signupBtns { border-bottom: 2px solid #52c1ef; }
.signupBtns a { display: inline-block; margin-right: 0px; background-color: #058fc9; color: #fff; font-size: 18px; text-align: center; padding: 0px 10px; width: auto; height: 36px; line-height: 36px; transition: all 0.4s; text-decoration: none !important; }
.signupBtns a:hover { text-decoration: none !important; background-color: #52c1ef; }
.activeBtn { background-color: #52c1ef !important; text-decoration: none !important; }
.recentTransactionTable{ color: darkslateblue; font-weight: bold;}

/*Bill Payment*/
.billPayment { background-image: url("../images/bill_payment/BillPayment1Background.png"); background-size: 100% 800px; background-repeat: no-repeat;}
/*Account Top-Up*/
.account_top_up_1 { background-image: url("../images/bill_payment/BillPayment1Background.png"); background-size: 100% 800px; background-repeat: no-repeat;}

/*signup pages codes */
.blue_text{	color: #035792 !important;}
